{% extends "base.html" %}

{% block title %}
    Контакты
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Если у Вас есть вопросы, то отправьте нам сообщение. Мы ответим Вам как можно скорее</p>

        <form method="post" id="contactForm">
            {% csrf_token %}
            {{ form.as_ul }}
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Отправить</button>

        </form>
    </div>
</div>
{% endblock %}