{% extends "base.html" %}

{% block title %}
Контакты
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Если у Вас есть вопросы, то отправьте нам сообщение. Мы ответим Вам как можно скорее</p>
        <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
        <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
        <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
        <form method="post" id="contactForm">
            {% csrf_token %}
            {{ form.as_ul }}
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>

        </form>
    </div>
</div>
{% endblock %}