{% extends "base.html" %}

{% block title %}
  Фотогалереязш
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        {% for picture in object_list %}
          <div class="col-lg-8 col-md-10 mx-auto">
            {% if picture.image %}
               <img src="{{picture.image.url}}" width="600">
            {% endif %}
            <div>
              {{picture.description}}
            </div>
          </div>
        {% endfor %}
    </div>
</div>
{% endblock %}